fastapi==0.115.0        # Основной фреймворк
uvicorn==0.31.0        # ASGI веб-сервер для запуска FastAPI
pydantic==2.9.2       # Для валидации данных и создания моделей
sqlalchemy==2.0.35      # Для работы с базой данных (ORM)
alembic==1.13.3        # Миграции базы данных
passlib==1.7.4         # Для хэширования паролей
python-jose==3.3.0     # Для работы с JWT токенами